<mat-card>
  <form (submit)="onAddPost(postForm)" #postForm="ngForm">
    <mat-form-field>
      <input
       matInput
       type="text"
       name="title"
       placeholder="Post Title"
       ngModel
       required
       #title="ngModel">
       <mat-error *ngIf="title.invalid">Please Enter the title for the Post</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea
       matInput
       rows="6"
       ngModel
       name="content"
       placeholder="Post Content"
       required
       #content="ngModel"></textarea>
       <mat-error *ngIf="content.invalid">Please Enter the title for the Post</mat-error>
    </mat-form-field>
    <button mat-raised-button
     color='primary'
     type="submit">Save Button</button>
  </form>
</mat-card>

